/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  /* Change favorite color - Blue 210 - Purple 250 - Green 142 - Pink 340*/
  --hue-color: 142;
  
  /* HSL color mode */
  --primary-color: hsla(var(--hue-color), 39%, 49%, 1);
  --primary-color--dark: hsla(var(--hue-color), 39%, 42%, 1);
  --primary-color--light: hsla(var(--hue-color), 0%, 80%, 1);
  --primary-color--lighter: hsla(var(--hue-color), 0%, 97%  , 1);
  --text-color: hsla(var(--hue-color), 0%, 13%, 1);
  --alert-color: hsla(15, 100%, 40%, 1);
  --alert-color--light: hsla(15, 100%, 97%, 1);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;

   /*========== Font and typography ==========*/
  --body-font: 'Ubuntu', sans-serif;
  --normal-font-size: 1rem;
  --heading-font-size: 1.25rem;
  --big-font-size: 1.5rem;
}

/*==================== BASE ====================*/
body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--text-color)
}

table {
  width: 100%;
  border-collapse: collapse;
}

textarea {
  width: 100%;
}

@media (max-width: 400px) {
  html {
  font-size: 14px;
  }
}

/*==================== CSS CLASSES ====================*/
.container {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 750px;
}

.btn {
  padding: 1em 2em;
  background-color: var(--primary-color);
  color: var(--white-color);
  white-space: normal;
  border: none;
  cursor: pointer;
}

.card {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: .3rem;
  -webkit-box-shadow: 0 0 1rem hsla(0, 0%, 0%, .3);
          box-shadow: 0 0 1rem hsla(0, 0%, 0%, .3);
}

.card > * + *  {
  margin-top: 1em;
}

.card__title {
  margin-bottom: .75em;
  font-size: var(--heading-font-size);
  font-weight: 400;
}

.card__title--big {
  font-size: var(--big-font-size);
  font-weight: 500;
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-color--dark);
}

.text-area {
  border: 1px solid var(--primary-color--light);
  border-radius: .3rem;
  resize: none;
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em;
}

.table__header {
  font-weight: 400;
  text-align: left;
}

.table__header,
.table__cell {
  width: 100%;
}

.alert-card {
  margin-bottom: 1rem;
  padding: .75em;
  background-color: var(--alert-color--light);
  border: 1px solid var(--alert-color);
}

/*==================== UTILITIES ====================*/
.w-100 {
  width: 100%;
}

.bg-lighter {
  background-color: var(--primary-color--lighter);
}

.p-0 {
  padding: 0;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 500;
}

.text-center {
  text-align: center;
}